.PaletaDetalhesModal {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    max-height: 350px;
    box-sizing: border-box;
    width: 315px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  .PaletaDetalhesModal > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .PaletaDetalhesModal__type {
    font-size: 2em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .PaletaDetalhesModal__note {
    font-size: 1em;
  }
  
  .PaletaDetalhesModal__deadline {
    color: darkviolet;
    font-size: 2.5em;
  }
  
  .PaletaDetalhesModal__link {
    margin-right: -100px;
    z-index: 0;
  }
  
  @media (max-width: 400px) {
    .PaletaDetalhesModal {
      width: 210px;
      height: 100vh;
    }
  
    .PaletaDetalhesModal__link {
      height: 250px;
      margin-top: 50px;
      margin-right: -100px;
    }
  
    .PaletaDetalhesModal__deadline {
      font-size: 2em;
    }
  
    .PaletaDetalhesModal__type {
      font-size: 1.5em;
    }
  
    .PaletaDetalhesModal__note {
      font-size: 0.9em;
    }
  }